#container-about{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:  0.2fr 0.2fr 0.2fr 1.5fr 1.2fr;
  grid-template-areas:
  "MapTime MapTime MapTime MapTime"
  "SlideShow SlideShow SlideShow SlideShow"
  "header header header header"
  "about about about about"
  "footer footer footer footer";
  gap: 0.2rem;
  margin-top: 80px;
  background: black;
  color: white;
 
}



.about{
 grid-area: about;
 text-align: center;
padding-top: 130px;
}

