#container-Content{
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:  0.2fr 0.2fr 0.2fr 1.5fr 1.2fr;
  grid-template-areas:
  "MapTime MapTime MapTime MapTime"
  "SlideShow SlideShow SlideShow SlideShow"
  "header header header header"
  "Content Content Content Content"
  "footer footer footer footer";
  gap: 0.2rem;
  color: white;
}

/******Main******/
.Content{
 grid-area: Content;
 text-align: center;
 margin: 40px;

}

/******Center******/
.Content-Branch{
  background-color: rgb(58, 63, 63);
  display: grid;
 grid-template-columns: 1fr 2fr 1fr;
 grid-template-rows: 1fr;
 grid-template-areas: 
 "Content-Left-Side Content-Center Content-Rigth-Side"
 ;
gap: 1em;
padding: 20px;
}

/******Right Side******/
.Content-Rigth-Side{
  align-items: center;
  grid-area: Content-Rigth-Side;
 
}
.Content-Center{
  grid-area: Content-Center;
  border-right: 5px rgb(239, 9, 9) solid;
  border-left: 5px rgb(239, 9, 9) solid;
}

/******Left Side******/

.Content-Left-Side{
  align-items: center;
  grid-area: Content-Left-Side;
}
.Content-Left-Img{
   display: flex;
 flex-wrap: wrap;
}

.Content-Left-Img img{
 display: flex;
 flex-wrap: wrap;
 width: 80px;
 height: auto;
  background-color: black;
}
.Similar-Group-Img li{
  list-style: none;
}

.group-img {
  opacity: 50%;
}

.group-img :hover{
  opacity: -50%;
}