/**************************** Start payment Section *************************/


.main-content{
  position: relative;
  top: 1000px;
  width: 100%;
  height: 1200px;
  margin: 0;
  background-color: var(--ligth-color);
  
  }


  .item{
  position: relative;
  font-size: 20px;
  width: auto;
  height: 300px;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

  /*********************** First Conten ******************/
  
  .item-1{  
    display: flex;
    justify-content: flex-start;
    position: relative;
   
    

  }

  .first-content{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
  }

  .group-image-1{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    position: relative;
    
  }

  .first-img img{
    border-radius: 90%;
    width: 500px;
    height: 500px;
    left: 140px;
    top: 350px;
    position: absolute;
    z-index: 1;
  
    
    
  }

  .first-img-2 img{
    border-radius: 90%;
    width: 200px;
    height: 200px;
    margin: 20px;
    top: 230px;
    position: absolute;
    
  }
  
  .first-img-3 img{
    border-radius: 90%;
    width: 300px;
    height: 300px;
    margin: 20px ;
    left: 150px;
    position: absolute;
    
  }

  .first-img-4 img{
    width: 500px;
    height: 300px;
    left: 20px ;
    margin-top: 20px;
    position: absolute;
  
    
  }

 
  .first-paragrap{
    color: var(--white-color);
    left: 700px;
    width: 500px;
    height: auto;
    position: relative;
    
  }

  .first-paragrap h3{
    color: var(--secondary-text);
  }

  .row{
    width: 300px;
    background-color: black;
    border: 1px solid #eee;
    position: absolute;
    right: 20px;
    
  }
  
  .sc2{
    height: 600px;
    position: relative;
    background-color: #eee;
  }
   
  .sc2:before{
    position: absolute;
    content: '';
    width: 100%;
    height: 60%;
    top: 400px;
    left: 0;
    background-color: #eee;
    transform: skewY(25deg);
    z-index: 1; 
    
  }

   /*********************** Mobile first Content ******************/

   @media (max-width: 1231px) {
    .first-paragrap{
       left: 160px ;
    }
  
    .group-image-1{
      position: absolute;
      left: 300px;
      margin-top: 1100px;
    }
  
    .main-content{
      height: 2200px;
    }
  
  }
  
  @media (max-width: 992px) {
    .first-paragrap{
       left: 40px ;
    }
  
    .group-image-1{
      position: absolute;
      left: 180px;
      margin-top: 1080px;
    }
  
    .main-content{
      height: 2200px;
    }
  
  }
  
  @media (max-width: 375px) {
  
    .row{
      display: none;
    }
    .first-paragrap{
      position: absolute;
      width: auto;
    }
  
   #btn-book-now{
      width: auto;
     margin-left: 20px;
    }
  
    .group-image-1{
      position: absolute;
      left: 180px;
      margin-top: 1800px;
    }
  
    .main-content{
      height: 2600px;
    }
    .group-image-1{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      left: 10px;
      margin-top: 1200px;
     
    }
  
  .first-img-4 img, .first-img img, .first-img-3 img, .first-img-2 img   {
  width: 250px;
  height: auto;
  }
  
  .first-paragrap{
    background-color: aqua;
  }

  .first-img img{
    position: absolute;
    left: 40px;
    margin-top: 150px;
    border-radius: 0%;
  }
  
  .first-img-3 img{
    position: absolute;
    border-radius: 0%;
    left: 20px;
    
  }
  .first-img-2 img{
    position: absolute;
    left: 20px;
    border-radius: 0%;
  }
  
  }

  @media (max-width: 320px){
    .first-paragrap{
      background-color: yellow;
    }
  
  }


  /*********************** Second Content ******************/
  
  .item-2{
    height: auto;
    display: flex;
    justify-content: flex-end;
  
    
  }


  .second-content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 900px;
 
  }

  .second-paragrap{
    width: 500px;
    height: 500px;
    margin: 70px;
  }
  
  .second-img img{
    border-radius: 90%;
    width: 500px;
    height: 500px;
    margin: 80px;
 
  }
#btn-book-now-second{
  width: auto;
  margin-left: 20px;
}

/*********************** Mobile Second Content ******************/
  @media (max-width: 320px){
    .second-content{
      padding-top: 250vh;
   
    }
    .second-img img{
      margin-top: 10px;
      border-radius: 0%;
      margin-left: 350px ;
      width: 250px;
      height: auto;
    }
    .item-2{
   font-size:smaller;       
    }

  }






  /*********************** third Content ******************/
  
  .item-3{
    background-color: rgb(171, 226, 21);
    height: auto;
    display: none;
  }
  
  /********************************** BTN Book Now*************************/
  #btn-book-now{
    background-color: var(--ligth-color);
    width: 100px;
    height: 50px;
    margin-left: 180px;
  }


