 .main-container{
  width: 100%;
  
 }

.slider-container{
  background-color: aliceblue;
margin-left: 50px;
}

.gallery{
  width: 100%;
  display: flex;
  overflow-x: scroll;
}
 

.gallery div{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}

.gallery div img{
max-width: 100%;
filter: grayscale(100%);
transition: trasform 0.5s;
}

.gallery::-webkit-scrollbar{
display: none;
}

.gallery-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
}

#backBtn, #nextBtn{
  width: 50px;
  height: 40px;
  cursor: pointer;
  margin: 20px;
}

.gallery div img:hover{
filter: grayscale(0);
cursor: pointer;
transform: scale(1.1);

}
@media screen and (max-width:320px){
 .main-container{
  position: relative;
  width: 100%;
  background-color:rgb(37, 199, 22);
 }

 .slider-container{
  background-color: rgb(37, 199, 22);

}

.gallery div img{
max-width: 60px;
height: 40px;

}

 .slider-container{
  margin-right: 50px;
  width: 100%;
  background-color:  rgb(37, 199, 22);

}
}

@media screen and (max-width:375px){
 .main-container{
  width: 300px;
  background-color: rgb(255, 94, 0);
 }
 .slider-container{
  background-color: rgb(199, 52, 22);

  
}

.gallery div img{
max-width: 60px;
height: 40px;

}
 .slider-container{
  margin-right: 50px;
  width: 100%;
  background-color: rgb(199, 52, 22);

}
}

@media screen and (max-width:412px){


 .main-container{
  width: 400px;
  background-color: rgb(49, 22, 199);
 
 }
 .slider-container{
  margin-right: 50px;
  width: 100%;
  background-color: rgb(49, 22, 199);

}
.gallery div img{
max-width: 80px;
height: 60px;

}
.gallery{
  width: 100%;
  height: auto;
}

.gallery-wrap{
  position: relative;
  width: 360px;
 background-color: rgb(22, 199, 140);
  margin: 10px;
}
#backBtn, #nextBtn{
  width: 30px;
  height: 20px;
}


}