
#container-South{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:  0.2fr 0.2fr 0.2fr 1.5fr 1.2fr;
  grid-template-areas:
  "MapTime MapTime MapTime MapTime"
  "SlideShow SlideShow SlideShow SlideShow"
  "header header header header"
  "MainSouth MainSouth MainSouth MainSouth"
  "footer footer footer footer";
 
}

.MainSouth{
  display: grid;
  text-align: center;
  grid-area: MainSouth;
  padding-top: 50px;
  background: rgb(0, 0, 2);
  color: aliceblue;
}

#MainSouthContainer{
display: flex;
flex-wrap: wrap;
}

.slider-container{
  height: auto;
  text-align: center;
  grid-area: slider-container;
  background: rgb(126, 7, 7);

}


.slider-nav{
  margin-top: -150px;
}

.slider-dots{
  margin-bottom: 150px;

}

.SouthTitleContent1{
  width: auto;
  height: 40px;
  background-color: blue;
 
}
.SouthTitleContent2{
  width: auto;
  height: 40px;
  background-color: blue;
}

.South-content1{ 
  grid-area: South-content1;
  justify-content: center;
  text-align: center;
  background: rgb(44, 236, 172);
  margin-left: 20px;

}

.South-content2{
  grid-area: South-content2;
  width: 100%;
  text-align: center;
  background: rgb(16, 144, 187);
  margin: 20px;
}

.South-content3{
  grid-area: South-content3;
  width: 100%;
  text-align: center;
  background: rgb(16, 144, 187);
  margin: 20px;
}





 

/**************************** Start payment Section *************************/