
#container-South{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:  0.2fr 0.2fr 0.2fr 1.5fr 1.2fr;
  grid-template-areas:
  "MapTime MapTime MapTime MapTime"
  "SlideShow SlideShow SlideShow SlideShow"
  "header header header header"
  "MainSouth MainSouth MainSouth MainSouth"
  "footer footer footer footer";
 
}

.MainSouth{
  display: grid;
  text-align: center;
  grid-area: MainSouth;
  padding-top: 50px;
  background: rgb(0, 0, 2);
  color: aliceblue;
}

#MainSouthContainer{
display: flex;
flex-wrap: wrap;
}

.slider-container{
  height: auto;
  text-align: center;
  grid-area: slider-container;
  background: rgb(126, 7, 7);

}


.slider-nav{
  margin-top: -150px;
}

.slider-dots{
  margin-bottom: 150px;

}

.SouthTitleContent1{
  width: auto;
  height: 40px;
 
}
.SouthTitleContent2{
  width: auto;
  height: 40px;

}

.South-content1{ 
  justify-content: center;
  text-align: center;
  margin-left: 20px;
}

.South-content2{
  justify-content: center;
  width: 550px;
  text-align: center;
  margin-left: 50px;

}

.South-content3{
  justify-content: center;
  width: auto;
  text-align: center;
  margin: 20px;
}

.South-content3-img{
width: auto;
display: flex;
flex-wrap: wrap;
}

.South-content3-img img{
  display: flex;
width: 320px;
}


  @media (max-width: 480px){

#MainSouthContainer{
display: flex;
flex-wrap: wrap;
}


#slider-container-id{
  width: 340px;
  margin-left: 10px;
  background: rgb(126, 7, 7);

}

.South-content3{ 
  width: 320px;
   margin-top: 20px;
  width: 460px;
  margin-left: 10px;
}


.South-content2{ 
  text-align: center;
  width: 320px;
  margin-left: 10px;
 
}

.South-content1{ 
  justify-items: center;
  text-align: center;
  width: 320px;
  margin-left: 20px;

}

  }

    @media (max-width: 768px){

#MainSouthContainer{
  width: 412px;
display: flex;
flex-wrap: wrap;
}
.South-content2{ 
  justify-content: center;
  text-align: center;
   margin-top: 20px;
   width: 320px;
   padding: 20px;
  background-color: rgb(92, 214, 22);
}
.South-content3-img{
display: flex;
flex-direction: row;
width: 340px;
background-color: rgb(107, 175, 17)      ;

}

.South-content3-img img{
  display: inline-block;
  width: 320px;
  height: auto;
}
  }
 @media (max-width: 320px){
  .MainSouth{
  margin-top: 80px;
}
#MainSouthContainer{
  display: flex;
  text-align: center;
width: 310px;
margin-top: 20px;
}
  .South-content1{ 
   width: 300px;
   margin-left: 20px;
  background-color: rgb(172, 213, 50);
}
.South-content1 img{
width: 260px;

}
  .South-content3{ 
   width: 300px;
   margin-right: 20px;
  background-color: rgb(231, 113, 23);
}
.South-content3-img img{
background-color: aquamarine;
width: 260px;

}
.SouthTitleContent3{
  width: 300px;
 
}

 }


 

/**************************** Start payment Section *************************/

/**********start floting chatbox**********/


.fab{
	position: fixed;
	bottom: 32px;
	right: 32px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background: #f44336;
	box-shadow: 1px 2px 4px gray;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50%;

  
}

.fab-Contact-us{
	position: fixed;
	bottom: 50px;
	right: 100px;
	padding-left: 5px;
	padding-right: 10px;
	border-radius: 10px ;
	color: blue;
	background: white;
	box-shadow: 1px 2px 4px gray;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50%;


}
.fab-shape{
	position:absolute;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	margin-left: 80px;
	background-color: white;
}

.fab:hover{
	cursor: pointer;
    background-color: #f3f5f3;
}

.fab img{
	width: 60%;
	transform: rotate(10deg);
	transition: 0.4s;
    width: 40px;
    height: 40px;
	
}

.box-1{
	position: fixed;
	bottom: 24px;
	right: 5px;
	height: 0px;
	transition-delay: 0.3s;
	width: 80px;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.item {
	overflow: hidden;
	border-radius: 50%;
	transition: 0.4s ease-in;
	width: 44px;
	height: 44px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 3px gray;
}

.item1 {
	transition: 0.2s;
	background-color: #1565c0;
	align-items: center;
	margin-bottom: 10px;
    
}

.item1 img{
    width: 30px;
    height: 30px;
}

.item2{
	transition: 0.2s;
	background-color: #2bf335;
	margin-bottom: 10px;
}

.item2 img{
    width: 30px;
    height: 30px;
}


.item3{
	transition: 0.2s;
	background-color: #0db829;
	margin-bottom: 10px;
}
.item3 img{
    width: 30px;
    height: 30px;
}


.item:hover{
	cursor: pointer;
}

.item:hover img{
	transform: rotate(360deg);
	transition: all 0.5s;
}

.box-1-active {
	height: 290px;
}
.fab-active img{
	transition: rotate(270deg);
	width: 40%;
}



/*******************end floting chatbox***********/
