
#container-South{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:  0.2fr 0.2fr 0.2fr 1.5fr 1.2fr;
  grid-template-areas:
  "MapTime MapTime MapTime MapTime"
  "SlideShow SlideShow SlideShow SlideShow"
  "header header header header"
  "MainSouth MainSouth MainSouth MainSouth"
  "footer footer footer footer";
 
}

.MainSouth{
  display: grid;
  text-align: center;
  grid-area: MainSouth;
  padding-top: 50px;
  background: rgb(0, 0, 2);
  color: aliceblue;
}

#MainSouthContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 450px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "slider-container slider-container slider-container South-content1"
  "South-content2 South-content2 South-content2 South-content2"
  ;
}

.slider-container{
  height: auto;
  text-align: center;
  grid-area: slider-container;
  background: rgb(126, 7, 7);

}



.slider-nav{
  margin-top: -150px;
}

.slider-dots{
  margin-bottom: 150px;

}

.South-content1{
  z-index: 1;
  grid-area: South-content1;
  text-align: center;
  background: rgb(44, 236, 172);

}


.SouthTitleContent1{
  width: auto;
  height: 40px;
  background-color: blue;
 
}


.South-content2{
  grid-area: South-content2;
  width: 100%;
  text-align: center;
  background: rgb(16, 144, 187);
  margin: 20px;
}
.SouthTitleContent2{
  width: auto;
  height: 40px;
  background-color: blue;
}






/**************************** Start payment Section *************************/