:root {
    /**colors**/
--white-color: #f7f2f2;
--secondary-text:#232738;
--dark-color: #b3aaaaf3;
--ligth-color: #ce0707;
    
   /**font size**/
--font-size-s: 0.9rem;
--font-size-n: 1rem;
--font-size-m: 1.12rem;
--font-size-l: 1.5rem;


}

.darkmode{
--text-color:#070b1d ;
--secondary-text: #101425;
--white-color: black;
--dark-color: #b3aaaaf3;
--ligth-color: white;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    }

/*****************Start main container*************/ 
    .container{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:  0.2fr 0.2fr 0.2fr 1.5fr 1.2fr 0.8fr;
        grid-template-areas:
        "MapTime MapTime MapTime MapTime"
        "SlideShow SlideShow SlideShow SlideShow"
        "nav nav nav nav"
        "Sidebar main main main"
        "Sidebar Content1 Content2 Content3"
        "footer footer footer footer";
        gap: 0.2rem;
        
    }

/********* MapTime *********/
#MapTime{
    display: grid;
    background: red;
    grid-area: MapTime;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 10px;
    text-align: center;
    
}

@media (max-width:650px) {
    #MapTime{
grid-template-columns: 1fr;
grid-template-rows: 1fr;   
}
#MapTime .header-contact-phone-number li{
   padding-left: 10px;
   
}

}

.map{
 
  color: blue;
  text-decoration: underline; 
}
#MapTime .header-contact-phone-number li{
    display: inline-block;
   
}



/*******SlideShow******/
#SlideShow{
    background: green;
    grid-area: SlideShow;
}

/*******Navbar******/
nav{
    background: #a7ffeb;
    grid-area: nav;
}

/*******Main******/
main{
    background: #84ffff;
    grid-area: main;
}

/*******SideBar******/
#Sidebar{
    background: #18ffff;
    grid-area: Sidebar;
    
}
img{
    margin: 10px;
    width: 300px;
    height: 200px;
}
p{
    margin: 10px;
}

/*******Content1******/
#Content1{
    background: #6fffda;
    grid-area: Content1;
}

/*******Content2******/
#Content2{
    background: #73ffba;
    grid-area: Content2;
}

/*******Content3******/
#Content3{
     background: #6fffd2;
     grid-area: Content3;
}

/*******Footer******/
footer{
    background: #1de9b6;
    grid-area: footer;
}

/*******Mobile Responsive******/
@media (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "MapTime"
        "SlideShow"
        "nav"
        "main"
        "Sidebar"
        "Content1"
        "Content2"
        "Content3"
        "footer";
    }
}
   
/*****************End main container*************/

   
    
    #back-to-top-btn{
        position: fixed;
        bottom: 0px;
        left: 10px;       
    }
    #back-to-top-btn img{
        width: 20px;
        height: 20px;
    }


   
    
    


