:root {
    /**colors**/
--white-color: #f7f2f2;
--secondary-text:#232738;
--dark-color: #b3aaaaf3;
--ligth-color: #ce0707;
--background: rgba(255, 0, 0, 0.986);
    
   /**font size**/
--font-size-s: 0.9rem;
--font-size-n: 1rem;
--font-size-m: 1.12rem;
--font-size-l: 1.5rem;


}

.darkmode{
--text-color:#070b1d ;
--secondary-text: #101425;
--white-color: black;
--dark-color: #b3aaaaf3;
--ligth-color: white;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    }

/*****************Start main container*************/ 
    .container{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:  0.2fr 0.2fr 0.2fr 1.5fr 1.2fr 1.2fr 1fr 1fr 1fr;
        grid-template-areas:
        "MapTime MapTime MapTime MapTime"
        "SlideShow SlideShow SlideShow SlideShow"
        "header header header header"
        "Sidebar main main main"
        "Sidebar title-1 title-1 title-1"
        "Sidebar Content1 Content2 Content3"
        "Sidebar title-2 title-2 title-2"
        "Sidebar Content4 Content5 Content6"
        "footer footer footer footer";
        gap: 0.2rem;
        margin-top: 80px;
       
        
    }

/********* MapTime *********/
#MapTime{
    display: grid;
    background: black;
    grid-area: MapTime;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 10px;
    text-align: center;
    position: relative;
    height: 60px;
    margin-top: -80px;
    width: 100%;
    
}



@media (max-width:650px) {
    #MapTime{
grid-template-columns: 1fr;
grid-template-rows: 1fr;


}


}

@media (max-width:375px){
  
     #MapTime{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: auto;
       
  
     }  
     #MapTime .header-contact-phone-number li{
      margin-left: 15px;
      display: flex;
      flex-wrap: nowrap;
    
     
    }
}

.map a{
  color: white;
  text-decoration: underline;

}

.map{
    color: rgba(18, 76, 236, 0.938);
}


#MapTime .header-contact-phone-number li{
    display: inline-block;

   
}
#MapTime .header-contact-phone-number li a{
    color: white;
}

 #MapTime .header-contact-phone-number li{
    color: rgba(18, 76, 236, 0.938);
}

@media (max-width:320px){
  
    #MapTime{
       grid-template-columns: 1fr;
       grid-template-rows: 1fr;
       height: auto;
       position: absolute;
      
 
    }  
    #MapTime .header-contact-phone-number li{
     margin-left: 15px;
     display: flex;
     flex-wrap: nowrap;
   
    
   }
}



.map a{
 color: white;
 text-decoration: underline;

}

.map{
   color: rgba(18, 76, 236, 0.938);
}


#MapTime .header-contact-phone-number li{
   display: inline-block;

  
}
#MapTime .header-contact-phone-number li a{
   color: white;
}

#MapTime .header-contact-phone-number li{
   color: rgba(18, 76, 236, 0.938);
}



/*******SlideShow******/
#SlideShow{
    background: black;
    grid-area: SlideShow;
    position: absolute;
    height: 50px;
    margin-top: -50px;
    
}


.moving-text{
    margin-top: 10px;
    color: white;
}

@media (max-width:933px){
    #SlideShow{
        margin-top: -20px;  
        position: relative; 
    }

}

@media (max-width:650px){
    #SlideShow{
        margin-top: -24px;  
        position: relative; 
    }

}

@media (max-width:375px){
    #SlideShow{
        margin-top: -5px;   
    }

}
@media (max-width:320px){
    #SlideShow{
        margin-top: -15px;  
        position: absolute; 
    }

}

/*******header******/
header{
   grid-area: header;
   background-color: var(--background);
   text-align: center;
   position: relative;
   width: 100%;
   margin-top: -15px;
   height: 100px;
   z-index: 999;
 
}
.logo img{
    margin-top: -20px;
    width: 80px;
    height: 80px;
}

@media (max-width:650px){
    header{     
        margin-top: -10px;
        position: relative; 
       
     }
}

@media (max-width:375px){
    header{     
        margin-top: -10px;  
     }
}
@media (max-width:320px){
    header{     
        margin-top: 20px;  
        position: absolute;
     }
}

@media (max-width:550px){
    header{     
        padding-top: 30px;    
     }
}

/******Drop Down Start*****/
nav .dropdown{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: #0db829;
    display: none;
}

nav .dropdown li{
margin: 5px 10px;
}

/******Drop Down end*****/

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
 
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}
nav a{
    color: #070b1d;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
nav a:hover {
    color: white;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
    transition: opacity 150ms ease-in-out 250ms;
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
}

.nav-toggle{
    display: none;
}
.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
display: block;
background: white;
height: 2px;
width: 2em;
border-radius: 2px;
position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}
.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

 /*******header Mobile responsive******/

@media screen and (min-width:650px){
    .nav-toggle-label{
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    .logo{
        grid-column: 2 / 3;
     margin-top: 30px;
    }
    nav{
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav a{
        opacity: 1;
        position: relative;
    }
    nav ul {
        display: flex;
    }

    nav li{
margin-left: 3em;
margin-bottom: 0;
    }
    nav a::before{
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        bottom: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transform-origin: left;
        transition: transform ease-in-out 250ms;
    }
    nav a:hover::before{
        transform: scale(1,1);
    }
}




    /*******Main******/
main{
    background: black;
    grid-area: main;
    padding: 10px;
    margin-top: -2px;
    color: white;
    text-align: center;
   
    
}

@media (max-width:650px){
 main{
    margin-top: -1px;
 }
}

@media (max-width:375px){
    main{
       margin-top: -2px;
    }
   }

   @media (max-width:320px){
    main{
       margin-top: 112px;
    }
   }   

.MainConatent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    border: 2px black solid;
    padding-left: 50px;
    padding-top: 50px;
   
    
}
.box1{
    width: 100px;
    height: 100px;
    background: red;
    
 
}
.box2{
    width: 100px;
    height: 100px;
    background: red;
}
.box3{
    width: 100px;
    height: 100px;
    background: red;
}
.box4{
    width: 100px;
    height: 100px;
    background: red;
}

/*******SideBar******/
#Sidebar{
    grid-area: Sidebar;
    display: grid;
    grid-template-columns: 1.5fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
    "Sidebar SideContent1"
    "Sidebar SideContent2";
    grid-auto-flow: dense;
    border-radius: 5px black solid;
    text-align: center;
    margin-top: -80px;
    
   
}
@media(max-width:650px){
    #Sidebar{
     margin-top: -124px;
    }
}
@media(max-width:550px){
    #Sidebar{
     margin-top: -130px;
    }
}

@media(max-width:375px){
    #Sidebar{
     margin-top: -124px;
    }
}

@media(max-width:320px){
    #Sidebar{
     margin-top: -125px;
    }
}



.SideContent1{
    grid-area: SideContent1;
    background: red;
    margin-bottom: 5px;
    margin-top: 78px;
   
}
.SideContent2{
    grid-area: SideContent2;
    background: black;
    color: white;
    padding-top: 30px;
}

img{
    margin: 10px;
    width: 300px;
    height: 200px;
}

p{
    margin: 10px;
}

.SouhtList ul li{
   list-style-type: none;
}
.NorthList ul li{
    list-style-type: none;
}

@media(max-width:1244){
    #Sidebar p{
font-size: x-small;
    }
}

@media (max-width:650px){
  .SideContent1{
       margin-top: 124px;
    }
}


/*******title-1******/
#title-1{
    background: yellow;
    grid-area: title-1;
    color: black;
    text-align: center;
    height: 100px;
    padding: 30px;


}

/*******title-2******/
#title-2{
    background: yellow;
    grid-area: title-2;
    color: black;
    text-align: center;
    height: 100px;
    padding: 30px;

}


/*******Content1******/
#Content1{
    background: black;
    grid-area: Content1;
    color: white;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
}



/*******Content2******/
#Content2{
    background: red;
    grid-area: Content2;
    color: white;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
}

/*******Content3******/
#Content3{
     background: black;
     grid-area: Content3;
     color: white;
     justify-content: center;
     display: flex;
     flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
}
/*******Content4******/
#Content4{
    background: red;
    grid-area: Content4;
    color: white;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
   text-align: center;
   padding-top: 30px;
}

/*******Content5******/
#Content5{
    background: black;
    grid-area: Content5;
    color: white;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
   text-align: center;
   padding-top: 30px;
    
}

/*******Content6******/
#Content6{
     background: red;
     grid-area: Content6;
     color: white;
     justify-content: center;
     display: flex;
     flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
}


/*******Footer******/
footer{
    background: red;
    grid-area: footer;
    height: 80px;
    width: 100%;
    
}

.footer_main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: #070b1d;
    margin: 10px;
    
}

@media (max-width: 320px){
    .footer_main{
        display: flex;
        flex-direction: column
        ;
    }
}

@media (max-width: 375px){
    .footer_main{
        display: flex;
        flex-direction: column
        ;
    }
}
@media (max-width: 550px){
    .footer_main{
        display: flex;
        flex-direction: column
        ;
    }
}
.SocialMeadia{
    background: #1565c0;
    margin: 10px;

}

.SocialMeadia ul li{
    display: block;
}
.footerContact{
    background: #232738;
    margin: 10px
}
.footerContact ul li{
    display: block;
}

.features{
    background: #ce0707;
    margin: 10px
}

.features ul li{
    display: block;
}
/*******Mobile Responsive******/


@media (max-width:992px){
    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "MapTime MapTime  "
        "SlideShow SlideShow"
        "header header"
        "main main"
        "title-1 title-1"
        "Sidebar Content1"
         "Sidebar Content2"
        "Sidebar Content3"
        "title-2 title-2"
         "Sidebar Content4"
        "Sidebar Content5"
         "Sidebar Content6"
        "footer footer";
    }
 
}

@media (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "MapTime"
        "SlideShow"
        "header"
        "main"
        "title-1"
        "Content1"
        "Content2"
        "Content3"
        "title-2"
        "Content4"
        "Content5"
        "Content6"
        "Sidebar"
        "footer";
    }
}
   
@media (max-width:320px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "MapTime"
        "SlideShow"
        "nav"
        "main"
        "title-1"
        "Content1"
        "Content2"
        "Content3"
        "title-2"
        "Content4"
        "Content5"
        "Content6"
        "Sidebar"
        "footer";
    }
}
   



/**********start floting chatbox**********/


.fab{
	position: fixed;
	bottom: 32px;
	right: 32px;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background: #f44336;
	box-shadow: 1px 2px 4px gray;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50%;
	
}

.fab-Contact-us{
	position: fixed;
	bottom: 50px;
	right: 100px;
	padding-left: 5px;
	padding-right: 10px;
	border-radius: 10px ;
	color: blue;
	background: white;
	box-shadow: 1px 2px 4px gray;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50%;

}
.fab-shape{
	position:absolute;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	margin-left: 95px;
	background-color: white;
}

.fab:hover{
	cursor: pointer;
}

.fab img{
	width: 60%;
	transform: rotate(10deg);
	transition: 0.4s;
    width: 40px;
    height: 40px;
	
}

.box-1{
	position: fixed;
	bottom: 24px;
	right: 5px;
	height: 0px;
	transition-delay: 0.3s;
	width: 80px;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.item {
	overflow: hidden;
	border-radius: 50%;
	transition: 0.4s ease-in;
	width: 44px;
	height: 44px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 3px gray;
}

.item1 {
	transition: 0.2s;
	background-color: #1565c0;
	align-items: center;
	margin-bottom: 10px;
    
}

.item1 img{
    width: 30px;
    height: 30px;
}

.item2{
	transition: 0.2s;
	background-color: #2bf335;
	margin-bottom: 10px;
}

.item2 img{
    width: 30px;
    height: 30px;
}


.item3{
	transition: 0.2s;
	background-color: #0db829;
	margin-bottom: 10px;
}
.item3 img{
    width: 30px;
    height: 30px;
}


.item:hover{
	cursor: pointer;
}

.item:hover img{
	transform: rotate(360deg);
	transition: all 0.5s;
}

.box-1-active {
	height: 290px;
}
.fab-active img{
	transition: rotate(270deg);
	width: 40%;
}



/*******************end floting chatbox***********/

/*****************End main container*************/

   
    
    #back-to-top-btn{
        position: fixed;
        bottom: 0px;
        left: 10px;       
    }
    #back-to-top-btn img{
        width: 20px;
        height: 20px;
    }


   
    
    


